# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [60]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
#cat average
an_cat=df.loc[df.animal=='cat']
cat_mean=an_cat.age.mean()
print('cat_mean:',cat_mean)

#snake average
an_sna=df.loc[df.animal=='snake']
sna_mean=an_sna.age.mean()
print('snake_mean:',sna_mean)

#dog average
an_dog=df.loc[df.animal=='dog']
dog_mean=an_dog.age.mean()
print('dog_mean:',dog_mean)

cat_mean: 2.5
snake_mean: 2.5
dog_mean: 5.0

In [15]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df_sort=df.sort_values(by=['age','visits'],ascending=(True,False))
df_sort

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [67]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'].replace('yes',True,inplace=True)
df['priority'].replace('no',False,inplace=True)
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [117]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.748747  0.623822  0.715880
1  0.800543  0.428228  0.548978
2  0.862947  0.455516  0.397312
3  0.481312  0.507386  0.951711
4  0.833550  0.956923  0.498782

In [119]:
#將每個數字減去該欄位的平均數
df_mean=df.mean(axis=0)
df_cal=df.apply(lambda x : x-df_mean,axis=1)
df_cal

          0         1         2
0  0.003327  0.029447  0.093347
1  0.055123 -0.166147 -0.073554
2  0.117527 -0.138859 -0.225221
3 -0.264108 -0.086990  0.329178
4  0.088130  0.362548 -0.123751

In [124]:
#將每個數字減去該筆資料平均數
df_mean=df.mean(axis=1)
df_cal2=df.apply(lambda x : x-df_mean,axis=0)
df_cal2

          0         1         2
0  0.052597 -0.072327  0.019730
1  0.207960 -0.164355 -0.043605
2  0.291022 -0.116409 -0.174613
3 -0.165491 -0.139417  0.304908
4  0.070465  0.193839 -0.264303

### 3. 承上題，請問：

1) 哪一筆的資料總合最小
2) 哪一欄位的資料總合最小

In [125]:
#哪一筆的資料總合最小
df_total1=df_cal2.sum(axis=1)
df_total1

0    0.000000e+00
1    0.000000e+00
2   -3.330669e-16
3    0.000000e+00
4    2.220446e-16
dtype: float64

In [126]:
#Min資料
y=df_total1.min(axis=0)
y

-3.3306690738754696e-16

In [127]:
#Min為哪一筆?
df_total1.idxmin()

2

In [128]:
#哪一欄位的資料總合最小
df_cal_sum=df_cal.sum(axis=0)
df_cal_sum

0    0.456552
1   -0.298669
2   -0.157883
dtype: float64

In [129]:
#欄位Min資料
y2=df_cal_sum.min()
y2

-0.2986692388379625

In [130]:
#Min為哪一筆?
df_cal_sum.idxmin()

1